TELEGRAM_BOT_TOKEN=ISI_TOKEN_BOT_TELEGRAM_DI_SINI

INSERA_BASE_URL=ISI_BASE_URL_INSERA_DI_SINI
INSERA_LOGIN_URL=ISI_LOGIN_URL_INSERA_DI_SINI
INSERA_USERNAME=ISI_USERNAME_INSERA_DI_SINI
INSERA_PASSWORD=ISI_PASSWORD_INSERA_DI_SINI
INSERA_OTP_SECRET=ISI_OTP_SECRET_INSERA_DI_SINI
WORK_ORDER_SYNC_INTERVAL_MINUTES=60